.blogListItem {
  display: block;
  margin: 0.5em;
}
.comment {
  border-radius: 0.3em;
  border: 0.1em;
  border-style: solid;
  border-color: black;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;

  h5 {
    padding: 0;
    margin: 0;
  }
  p {
    margin: 0;
  }
}
